.main {
  margin-top: 1rem;
}

.title-text {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.inlineList {
  list-style: none;
  display: inline;
}

.center {
  text-align: center;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.landingFlex {
  margin-top: 7%;
}

.radius {
  border-radius: 3px;
}
