.products {
  min-height: 15rem;
  width: 100%;
  height: auto;
}

.imgContainer {
  height: 250px;
  img {
    width: auto;
    height: 100%;
  }
}

.cartForm {
  margin-top: 1rem;
}

.padMain {
  padding-top: 45px;
}
